<footer class="footer bg-primary pt-4">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-choice flex jc-sb aic mb-3 ">
        <ul class="flex footer-menu">
          <li class="me-4"><a href="#">首頁</a></li>
          <li class="me-4"><a href="#">系列鏡框</a></li>
          <li class="me-4"><a href="#">門市據點</a></li>
          <li class="me-4"><a href="#">部落格</a></li>
          <li class="me-4"><a href="#">常見問題</a></li>
        </ul>
        <ul class="flex icon">
          <li class="ms32"><a href="#"><img src="./image/footer/ic-social-fb.png" alt="fb"></a></li>
          <li class="ms32"><a href="#"><img src="./image/footer/ic_social_ig.png" alt="IG"></a></li>
          <li class="ms32"><a href="#"><img src="./image/footer/ic_social_line.png" alt="Line"></a></li>
        </ul>
      </div>
      
      <div class="footer-contact">
        <ul class="mb-4">
          <li class="flex aic mb-1">
            <span class="material-symbols-outlined block me-2">
              call
              </span>
            <a href="tel:+0800-000-000" class="fz-3">0800-000-000</a>
          </li>
          <li class="flex aic ">
            <span class="material-symbols-outlined block me-2">mail</span>
            <a href="#" class="fz-3">glasses@business.com</a>
          </li>
        </ul>
      </div>
    </div>
      
    <div class="flex jc-sb aic py32 copyright">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="flex privacy">
        <li><a class="fz-6" href="#">隱私權政策</a></li>
        <li class="ms-4"><a class="fz-6" href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>